* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.side nav .router-link-exact-active {
    background-color: rgb(84, 92, 100);
    color: rgb(255, 208, 75);
}
