* {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
}
body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nav-bar .router-link-exact-active {
    background-color: yellow;
}